Repository VMware-HaoyuLi/flowgate-1: changes, and which Codecov flags are due for each by the changed paths.
All: aggregator, infoblox-worker

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "10...100"
  status:
    patch:
      default: false
      aggregator:
        target: auto
        threshold: 0%
        flags:
          - aggregator
      infoblox-worker:
        target: auto
        threshold: 0%
        flags:
          - infoblox-worker

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  aggregator:
    paths:
      - aggregator/
    carryforward: false
  infoblox-worker:
    paths:
      - infoblox-worker/
    carryforward: false

test
  .github/workflows/aggregator.yml
  .github/workflows/flowgate-api.yml
  .github/workflows/infoblox-worker.yml
  .github/workflows/labsdb-worker.yml
  .github/workflows/management.yml
  .github/workflows/nlyte-worker.yml
  .github/workflows/poweriq-worker.yml
  .github/workflows/vc-worker.yml
  .github/workflows/vro-worker.yml
  .travis.yml
  aggregator/src/main/java/com/vmware/flowgate/aggregator/AggregatorApplication.java
  codecov.yml
Due: aggregator

debug
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
Due: aggregator

debug 2
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/InfobloxWorkerApplication.java
Due: aggregator, infoblox-worker

debug 3
  .github/workflows/infoblox-worker.yml
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  codecov.yml
  infoblox-worker/src/test/java/com/vmware/flowgate/infobloxworker/controller/InfobloxClientTest.java
Due: aggregator, infoblox-worker

debug 4
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  codecov.yml
Due: aggregator

debug 5
  codecov.yml
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/InfobloxWorkerApplication.java
  infoblox-worker/src/test/java/com/vmware/flowgate/infobloxworker/controller/InfobloxClientTest.java
Due: infoblox-worker

test
  .github/workflows/aggregator.yml
  .github/workflows/flowgate-api.yml
  .github/workflows/infoblox-worker.yml
  .github/workflows/labsdb-worker.yml
  .github/workflows/management.yml
  .github/workflows/nlyte-worker.yml
  .github/workflows/poweriq-worker.yml
  .github/workflows/vc-worker.yml
  .github/workflows/vro-worker.yml
  .travis.yml
  codecov.yml
Due: none

debug 6
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  infoblox-worker/src/test/java/com/vmware/flowgate/infobloxworker/controller/InfobloxClientTest.java
Due: aggregator, infoblox-worker

debug 7
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  codecov.yml
Due: aggregator

debug 8
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  codecov.yml
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/InfobloxWorkerApplication.java
Due: aggregator, infoblox-worker

debug 9
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorJobDispatcher.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  codecov.yml
Due: aggregator

debug 10
  codecov.yml
Due: none

debug 11
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorJobDispatcher.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
Due: aggregator

debug 12
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorJobDispatcher.java
  infoblox-worker/src/test/java/com/vmware/flowgate/infobloxworker/controller/InfobloxClientTest.java
Due: aggregator, infoblox-worker

debug 13
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  codecov.yml
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/InfobloxWorkerApplication.java
Due: aggregator, infoblox-worker

debug 14
  codecov.yml
  infoblox-worker/src/test/java/com/vmware/flowgate/infobloxworker/controller/InfobloxClientTest.java
Due: infoblox-worker

debug 15
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorJobDispatcher.java
  codecov.yml
Due: aggregator

commit 9 base
  aggregator/src/main/java/com/vmware/flowgate/aggregator/AggregatorApplication.java
  flowgate-api/src/main/java/com/vmware/flowgate/FlowgateApiApplication.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/InfobloxWorkerApplication.java
  labsdb-worker/src/main/java/com/vmware/flowgate/labsdb/LabsdbApplication.java
  management/src/main/java/com/vmware/flowgate/management/ManagementPortalApplication.java
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/NlyteWorkerApplication.java
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/PowerIQWorkerApplication.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/VcWorkerApplication.java
  vro-worker/src/main/java/com/vmware/flowgate/vroworker/VroWorkerApplication.java
Due: aggregator, infoblox-worker

agg de
  aggregator/src/main/java/com/vmware/flowgate/aggregator/AggregatorApplication.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  codecov.yml
  flowgate-api/src/main/java/com/vmware/flowgate/FlowgateApiApplication.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/InfobloxWorkerApplication.java
  infoblox-worker/src/test/java/com/vmware/flowgate/infobloxworker/controller/InfobloxClientTest.java
  labsdb-worker/src/main/java/com/vmware/flowgate/labsdb/LabsdbApplication.java
  management/src/main/java/com/vmware/flowgate/management/ManagementPortalApplication.java
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/NlyteWorkerApplication.java
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/PowerIQWorkerApplication.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/VcWorkerApplication.java
  vro-worker/src/main/java/com/vmware/flowgate/vroworker/VroWorkerApplication.java
Due: aggregator, infoblox-worker

test
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorJobDispatcher.java
  codecov.yml
  infoblox-worker/src/test/java/com/vmware/flowgate/infobloxworker/controller/InfobloxClientTest.java
  management/src/main/java/com/vmware/flowgate/management/config/CrossoOriginConfig.java
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/scheduler/job/NlyteDataService.java
Due: aggregator, infoblox-worker

fix codecov yml
  .github/workflows/aggregator.yml
  .github/workflows/flowgate-api.yml
  .github/workflows/infoblox-worker.yml
  .github/workflows/labsdb-worker.yml
  .github/workflows/management.yml
  .github/workflows/nlyte-worker.yml
  .github/workflows/poweriq-worker.yml
  .github/workflows/vc-worker.yml
  .github/workflows/vro-worker.yml
  .travis.yml
  codecov.yml
Due: none

debug 16
  aggregator/src/main/java/com/vmware/flowgate/aggregator/AggregatorApplication.java
  flowgate-api/src/main/java/com/vmware/flowgate/FlowgateApiApplication.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/InfobloxWorkerApplication.java
  labsdb-worker/src/main/java/com/vmware/flowgate/labsdb/LabsdbApplication.java
  management/src/main/java/com/vmware/flowgate/management/ManagementPortalApplication.java
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/NlyteWorkerApplication.java
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/PowerIQWorkerApplication.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/VcWorkerApplication.java
  vro-worker/src/main/java/com/vmware/flowgate/vroworker/VroWorkerApplication.java
Due: aggregator, infoblox-worker

test
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorJobDispatcher.java
  codecov.yml
Due: aggregator

debug 16
  codecov.yml
  flowgate-api/src/main/java/com/vmware/flowgate/FlowgateApiApplication.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/InfobloxWorkerApplication.java
  labsdb-worker/src/main/java/com/vmware/flowgate/labsdb/LabsdbApplication.java
  management/src/main/java/com/vmware/flowgate/management/ManagementPortalApplication.java
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/NlyteWorkerApplication.java
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/PowerIQWorkerApplication.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/VcWorkerApplication.java
  vro-worker/src/main/java/com/vmware/flowgate/vroworker/VroWorkerApplication.java
Due: infoblox-worker

debug 17
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorJobDispatcher.java
  codecov.yml
Due: aggregator

modify yml
  codecov.yml
Due: none

test
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorJobDispatcher.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/jobs/InfoBloxService.java
Due: aggregator, infoblox-worker

test
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorJobDispatcher.java
  codecov.yml
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/jobs/InfoBloxService.java
Due: aggregator, infoblox-worker

debug
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorJobDispatcher.java
  codecov.yml
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/jobs/InfoBloxService.java
Due: aggregator, infoblox-worker

increase cov
  .github/workflows/aggregator.yml
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  codecov.yml
  labsdb-worker/src/test/java/com/vmware/flowgate/labsdb/jobtest/SyncWiremapDataJobTest.java
Due: aggregator

debug
  .github/workflows/aggregator.yml
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
Due: aggregator

v1
  .github/workflows/aggregator.yml
  .github/workflows/flowgate-api.yml
  .github/workflows/infoblox-worker.yml
  .github/workflows/labsdb-worker.yml
  .github/workflows/management.yml
  .github/workflows/nlyte-worker.yml
  .github/workflows/poweriq-worker.yml
  .github/workflows/vc-worker.yml
  .github/workflows/vro-worker.yml
Due: none

v1 test
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
Due: aggregator
