Repository VMware-HaoyuLi/flowgate-1: changes, and which Codecov flags are due for each by the changed paths.
All: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "10...100"

  status:
    project:
      default:
        target: auto
      aggregator:
        target: auto
        threshold: 0%
        flags:
          - aggregator
        if_not_found: success
        if_ci_failed: error
      infoblox:
        target: auto
        threshold: 0%
        flags:
          - infoblox
        if_not_found: success
        if_ci_failed: error
      api:
        target: auto
        threshold: 0%
        flags:
          - api
        if_not_found: success
        if_ci_failed: error
      labsdb:
        target: auto
        threshold: 0%
        flags:
          - labsdb
        if_not_found: success
        if_ci_failed: error
      management:
        target: auto
        threshold: 0%
        flags:
          - management
        if_not_found: success
        if_ci_failed: error
      nlyte:
        target: auto
        threshold: 0%
        flags:
          - nlyte
        if_not_found: success
        if_ci_failed: error
      poweriq:
        target: auto
        threshold: 0%
        flags:
          - poweriq
        if_not_found: success
        if_ci_failed: error
      vc:
        target: auto
        threshold: 0%
        flags:
          - vc
        if_not_found: success
        if_ci_failed: error
      vro:
        target: auto
        threshold: 0%
        flags:
          - vro
        if_not_found: success
        if_ci_failed: error


flags:
  aggregator:
    paths:
      - aggregator/
  infoblox:
    paths:
      - infoblox-worker/
  api:
    paths:
      - flowgate-api/
  labsdb:
    paths:
      - labsdb-worker/
  management:
    paths:
      - management/
  nlyte:
    paths:
      - nlyte-worker/
  poweriq:
    paths:
      - poweriq-worker/
  vc:
    paths:
      - vc-worker/
  vro:
    paths:
      - vro-worker/

v1 test
  .github/workflows/aggregator.yml
  .github/workflows/flowgate-api.yml
  .github/workflows/infoblox-worker.yml
  .github/workflows/labsdb-worker.yml
  .github/workflows/management.yml
  .github/workflows/nlyte-worker.yml
  .github/workflows/poweriq-worker.yml
  .github/workflows/vc-worker.yml
  .github/workflows/vro-worker.yml
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
Due: aggregator

use v1
  aggregator/src/main/java/com/vmware/flowgate/aggregator/AggregatorApplication.java
  flowgate-api/src/main/java/com/vmware/flowgate/FlowgateApiApplication.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/InfobloxWorkerApplication.java
  labsdb-worker/src/main/java/com/vmware/flowgate/labsdb/LabsdbApplication.java
  management/src/main/java/com/vmware/flowgate/management/ManagementPortalApplication.java
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/NlyteWorkerApplication.java
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/PowerIQWorkerApplication.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/VcWorkerApplication.java
  vro-worker/src/main/java/com/vmware/flowgate/vroworker/VroWorkerApplication.java
Due: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

test v1
  .github/workflows/aggregator.yml
  .github/workflows/flowgate-api.yml
  .github/workflows/infoblox-worker.yml
  .github/workflows/labsdb-worker.yml
  .github/workflows/management.yml
  .github/workflows/nlyte-worker.yml
  .github/workflows/poweriq-worker.yml
  .github/workflows/vc-worker.yml
  .github/workflows/vro-worker.yml
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  codecov.yml
Due: aggregator

test
  aggregator/src/main/java/com/vmware/flowgate/aggregator/AggregatorApplication.java
  flowgate-api/src/main/java/com/vmware/flowgate/FlowgateApiApplication.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/InfobloxWorkerApplication.java
  labsdb-worker/src/main/java/com/vmware/flowgate/labsdb/LabsdbApplication.java
  management/src/main/java/com/vmware/flowgate/management/ManagementPortalApplication.java
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/NlyteWorkerApplication.java
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/PowerIQWorkerApplication.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/VcWorkerApplication.java
  vro-worker/src/main/java/com/vmware/flowgate/vroworker/VroWorkerApplication.java
Due: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

test increase
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  codecov.yml
Due: aggregator

debug
  .github/workflows/aggregator.yml
  .github/workflows/flowgate-api.yml
  .github/workflows/infoblox-worker.yml
  .github/workflows/labsdb-worker.yml
  .github/workflows/management.yml
  .github/workflows/nlyte-worker.yml
  .github/workflows/poweriq-worker.yml
  .github/workflows/vc-worker.yml
  .github/workflows/vro-worker.yml
  aggregator/src/main/java/com/vmware/flowgate/aggregator/AggregatorApplication.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  codecov.yml
Due: aggregator

debug codecov
  codecov.yml
Due: none

test all trigger
  .github/workflows/aggregator.yml
  .github/workflows/flowgate-api.yml
  .github/workflows/infoblox-worker.yml
  .github/workflows/labsdb-worker.yml
  .github/workflows/management.yml
  .github/workflows/nlyte-worker.yml
  .github/workflows/poweriq-worker.yml
  .github/workflows/vc-worker.yml
  .github/workflows/vro-worker.yml
Due: none

host meta data logic
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/VCenterJobDispatcher.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/client/VsphereClient.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/scheduler/job/VCDataService.java
  vc-worker/src/test/java/com/vmware/flowgate/vcworker/VCDataServiceTest.java
Due: aggregator, vc
